/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body{
    font-family:'Rubik Mono One', sans-serif;
}
h1 {
    font-size: 48px;
    font-weight: 800;
    text-shadow: 2px 3px 4px #00df6b47
}

h3 {
    font-weight: 700;
}

h4 {
    font-size: 12px;
    font-weight: 600;
}
/* Utilities */


/* cards  */
.card {
    box-shadow: 0px 0px 10px 6px #8279bd30;
}


.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}